@charset "UTF-8";

/*------------------------------------*\
              TYPOGRAPHY
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*------------------------------------*\
          pinned-searches
\*------------------------------------*/
.pinned-searches {
  width: 100%;
  margin: 15px 0 15px 0;
}

  .pinned-searches ul li {
    float: left;
    margin: 0;
  }

  .pinned-searches a {
    border-radius: 0 10px 10px 0;
    max-width: 300px;
    border: solid 2px #CCC;
    background-color: #CCC;
    float: left;
    padding: 5px;
    margin: 5px 5px 5px 0;
  }

  .pinned-searches a:hover {
      border: solid 2px #DDD;
      -webkit-transition: border 500ms;
      -moz-transition: border 500ms;
      -o-transition: border 500ms;
      transition: border 500ms;
      background-color: #DDD;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
  }

  .pinned-searches button {
      border-radius: 10px 0 0 10px;
      background-color: #CCC;
      max-width: 20%;
      border: solid 2px #CCC;
      float: left;
      height: 33px;
      width: 25px;
      text-align: center;
      vertical-align:middle;
      margin: 5px 0 5px 5px;
  }

  .pinned-searches button:hover {
      border: solid 2px #DDD;
      background-color: #DDD;
      -webkit-transition: border 500ms;
      -moz-transition: border 500ms;
      -o-transition: border 500ms;
      transition: border 500ms;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
  }

/*------------------------------------*\
           Image Wrapper
\*------------------------------------*/
.box-wrap {
  margin: 25px 0 0 10px;
  width: 80%;
  float: left;
}

.box {
  border-radius: 5px;
  width: 30%;
  border: solid 1px #CCC;
  float: left;
  padding: 5px;
}
.box:hover {
  background-color: #787878;
  -webkit-transition: border 500ms;
  -moz-transition: border 500ms;
  -o-transition: border 500ms;
  transition: border 500ms;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
}
  .box:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 2%;
  }
  .box img {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 0 5px 0;
    width: 100%;
  }

  .box button {
    border-radius: 5px;
    background: #FFF;
    border: solid 1px #CCC;
    height: 35px;
    text-align: center;
    width: 100px;
  }

  .box button:hover {
    border: solid 2px #DDD;
    background-color: #DDD;
    -webkit-transition: border 500ms;
    -moz-transition: border 500ms;
    -o-transition: border 500ms;
    transition: border 500ms;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
  }

/*------------------------------------*\
            Search Bar
\*------------------------------------*/
.search {
  margin: 25px 10px 0 0;
  width: 260px;
  float: left;
}

.search form {
	border-width: 1px;
	border-radius: 5px;
	border-color: lightgrey;
	border-style: solid;
  background-color: #DDD;
}

.search-label {
 margin: 15px 0 0 15px;
 line-height: 15px;
 text-align: left;
}

 .search-box {
   border: none;
   width: 86%;
   padding: 5px;
 }
    .search-box:nth-child(n) {
      margin: 5px 0 0 7px;
    }
    .search-box:nth-child(14n) {
      margin: 5px 0 15px 7px;
    }

.save-search{
  float: right;
  margin: 5px 7px 0 0;
  padding: 0 0 0 0;
  height: 25px;
  width: 22px;
}

.pinned-search-toggle{
  margin: 10px 0 0 15px;
  padding: 5px;
  width: 130px;
  border: solid  1px #BBB;
  border-radius: 5px;
  background-color: #EEE;
}

  #map-canvas {
    border-radius: 5px;
    border: solid 1px #CCC;
    margin: 5px;
    width: 96%;
    height: 200px;
  }

/*------------------------------------*\
            Search Filters
\*------------------------------------*/
.search-filters {
  margin: 15px 0 0 0;
}

  .search-filters ul li {
    float: left;
    margin: 3px;
  }

  .search-filters a {
    border-radius: 0 5px 5px 0;
    max-width: 300px;
    border: solid 2px #CCC;
    background-color: #CCC;
    float: left;
    padding: 5px;
    margin: 5px 0 0 0;
  }

  .search-filters a:hover {
      border: solid 2px #DDD;
      background-color: #DDD;
      -webkit-transition: border 500ms;
      -moz-transition: border 500ms;
      -o-transition: border 500ms;
      transition: border 500ms;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
  }

  .search-filters button {
      border-radius: 5px 0 0 5px;
      background-color: #CCC;
      max-width: 20%;
      border: solid 2px #CCC;
      float: left;
      height: 32px;
      width: 25px;
      text-align: center;
      vertical-align:middle;
      margin: 5px 0 0 0;
  }

  .search-filters button:hover {
      border: solid 2px #DDD;
      background-color: #DDD;
      -webkit-transition: border 500ms;
      -moz-transition: border 500ms;
      -o-transition: border 500ms;
      transition: border 500ms;
      -webkit-transition: background-color 500ms;
      -moz-transition: background-color 500ms;
      -o-transition: background-color 500ms;
      transition: background-color 500ms;
  }

  /*------------------------------------*\
                  ¡ERRORS
  \*------------------------------------*/

  .error {
    border: 2px solid red;
  }
